.content{
    display: flex;
    grid-area: content;
}
.image1{
    background-image: url("https://images03.nicepage.com/c461c07a441a5d220e8feb1a/6700b267c88654d6adcd2310/Untitled1.jpg");
    background-repeat: no-repeat;
    background-size: 800px 500px;
}