body{
  margin:0;
}
#app{
  height: 100vh;
  display: grid;

  grid-template-rows: 80px 1fr 400px;
  grid-template-columns: 0px 1fr;
  grid-template-areas: 
  "menu header"
  "menu content"
  "menu footer"
  ;
}